{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<style>
  #login_nav {
    font-weight: bold;
    border-bottom: 2px solid  #8800ff;;
  }
</style>
<div style="display: flex; justify-content: center; align-items: center;">
  <form class="login_card" style="justify-content: center; margin-top: 80px; font-family: 'Poppins', sans-serif; color: #EFEFEF;"  method="POST">
    <h2 style="color:#8800ff;">Login to your account</h2>
    <label for="username">Username</label>
    <input type="text" style="color: #FFF; margin-top:10px;" id="username" placeholder="Username" name="username"/>
    <label for="email">Email</label>
    <input type="email" style="color: #FFF; margin-top:10px;" id="email" placeholder="you@example.com" name="email"/>
    <label for="password">Password</label>
    <input type="password" style="color: #FFF; margin-top:10px;" id="password" placeholder="••••••••", name="password"/>
    <label for="confirm">Confirm password</label>
    <input type="password" style="color: #FFF; margin-top:10px;" id="confirm" placeholder="••••••••", name="confirm_password"/>
    <button type="submit" style="margin-top: 10px; width: 100%; padding: 0.7rem; background: #8800ff; color: white; border: none; border-radius: 8px; font-size: 1rem;">Log in</button>
    <p style="margin-top:10px;">Don't have an account? <a href="sign_up" style="color: #8800ff; text-decoration: none;">Sign up</a></p>
  </form>
</div>

{% endblock %}