{% extends 'base.html' %}

{% block title %} Signup {% endblock %}

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
<style>
#signup_nav{
  font-weight:bold;
}
</style>
<h1 style="color:#8800ff; text-align:center;">Signup</h1>
<div style="display: flex; justify-content: center; align-items: center;">
  <form class="card" style="justify-content: center;" method="POST">
    <h2>Create an account</h2>
    <label for="email">Email</label>
    <input type="email" id="email" placeholder="you@example.com" name="email"/>
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="••••••••", name="password"/>
    <label for="confirm">Confirm password</label>
    <input type="password" id="confirm" placeholder="••••••••", name="confirm_password"/>
    <button type="submit" style="width: 100%; padding: 0.7rem; background: #6c63ff; color: white; border: none; border-radius: 8px; font-size: 1rem;">Sign up</button>
    <p>Already have an account? <a href="login" style="color:#8800ff; text-align:center;margin-top:2rem;">Log in</a></p>
  </form>
</div>
{% endblock %}